.Planned{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction:column;



}
span:hover{
    margin: 10px;
    background-color:darkgrey;
}
.position{
    display: flex;
    flex-direction: row;
}

