.content {
width: 1200px;
height: 800px;
display: flex;

}

.planned{
width:400px ;
height: 800px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}

.MAIN_CARD {
width: 400px;
height: 300px;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.middle, .right{
    margin-left: 20px;
}

.card {
    width: 400px;
height: 300px;
margin-left: 40px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
h1{
    margin-left: 40px;
}